*{
    margin: 0; /*to ensure that incons or any another content doesn't get any extra margin*/
    font-family: Arial;
    border: border-box;
}
.body{
    background-color: rgba(245, 245, 245, 0.715);
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav-logo{
    height: 57px;
    width: 110px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border:1px solid white;

}
.add-1{
    color: #cccccc;
    font-size: 0.85 rem;
    margin-left: 15px;
}
.add-2{
    font-size: 1 rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
    margin-left: 6px;
      
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
  
    width: 620px;
    height: 40px;
    border-radius: 4px;

}
.search-select{
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 10px;
}
.search-input{
    width: 100%;
    font-size: 1rem;
}

.search-icon{
    display: flex;
    justify-content: center;
    color: black;
    align-items: center;
    font-size: 1.6rem;
    background-color: rgb(249, 176, 4);
    width: 50px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.search-icon:hover{
    background-color: rgb(249, 131, 4);
}
.nav-greet{
    font-size: 0.8rem;
}
.nav-accounts{
    font-size: 1rem;
    font-weight:700;
    margin-top: 2px;
}
.nav-return{
    font-size: 0.8rem;
}
.nav-order{
    font-size: 1rem;
    font-weight: 700;
}
.nav-cart{
    display: flex;
    justify-content:center;
    align-items: center;
    
    
}
.nav-basket{
    font-size: 15px;
    margin-top: 5px;
    font-weight: 700;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;

}
.panel-ops p{
    display: inline;
    margin-right:13px;   
}
.panel-ops p:hover{
        border: 1px solid white;
}
.panel-ops{
    width: 90%;
}
/** hero secytiolj**/

.hero-section{
    background-image: url(hero_image.jpg);
    height: 600px;
    background-size: cover;
    width: 100%;
    margin-right: 75px;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    background-color: white;
    margin-top: 15px;
    border: 2px solid white;
    height: 400px;
    width: 23%;

}
.box-img{
    height: 300px;
    width: 90%;
    background-size: cover;
}
.box-content{
    margin-left: 1rem;
    margin-top: 5px;
}
.box-content p{
    color: #007185;
    margin-top: 1.5rem;
}
.box-content p:hover{
    color: tomato;
}